body{
    padding-top: 40px;
}


.margin{
    padding: 25px;

}
.page {
    overflow-x:hidden;
}

.well{
    margin: 0;
    border-radius: 0;
}

@media screen and (max-width: 768px) {
    body { padding-top: 40px; }
}

.navbar {
    background-color: #D4AF37;
    margin: 0;
    border: 0;
}

.navItem:hover {
    background-color: ghostwhite;
}

.navs {
    font-size: 30px;
}

.all {
    font-family: 'Saira', sans-serif;
}

.fx {
    display: flex;
    flex: 1;
}

.black {
    background-color: #141414;
    color: #D4AF37;
}

.abut {
    background-color: #141414;
    color: #D4AF37;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h1 p {
    color: #D4AF37;
}

.idk {
    margin-top: 0;
    margin-bottom: 0;
}

li a {
    color: black;
}

.about {
    margin-top: 40px;
    background-color: #333333;
    box-shadow: 0 8px 16px silver, 0 6px 20px 0 silver, 0 6px 20px 0 silver, 0 6px 20px 0 silver;
    box-sizing: border-box;
    z-index: 2;
    max-width: 900px;
    max-height: 1200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1;
}

.content {
    font-family: 'Play', sans-serif;
    font-size: 22px;
    padding: 40px;
    color: #D4AF37;
    text-align: center;
}

.btn-circle {
    text-align: center;
    padding: 10px 20px;
    line-height: 1.42;
    border-radius: 40px;
}

.scrollTop {
    padding-bottom: 15px;
    padding-top: 15px;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fa {
    font-size: 4em;
    color: ghostwhite;
}


/*

<div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="view2.jpg" class="img-responsive" style="max-height: 500px">
                        <div class="caption">
                            <p>Bilz</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="view1.JPG" class="img-responsive" style="height: 500px; width: 600px">
                        <div class="caption">
                            <p>New York</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="view3.JPG" class="img-responsive" style="max-height: 500px;">
                        <div class="caption">
                            <p>New York</p>
                        </div>
                    </div>
                </div>
            </div>

*/
